.pub-container {
    padding-top: 0px;
    padding-bottom: 20px;
}
.pub-thumb {
    max-width: 150px;
    padding-right: 0px;
    padding-top: 5px;
    display: inline-block;
    vertical-align: middle;
}

.pub-content {
    margin-left: 20px;
    display: inline-block;
    vertical-align: middle;
}
.pub-title {
    font-size: 105%;
    color: #30323d;
}

.pub-author {
    font-size: 80%;
    color: #a32c2c;
}

.pub-conf {
    font-size: 90%;
    color: #0066ff; 
}

b {
    color: #a32c2c;
    border-bottom: 1px solid #a32c2c;
}

img.img-responsive {
    width: 100%;
    height: auto;
    display: block;
}
