.pub-container {
    margin: 30px 30px 30px 30px;  
    border-bottom: 1px solid #333;
    overflow: auto
}
.pub-thumb {
    float: left
}
.pub-thumb img {
    display: block;
    height: 240px;
    width: 240px;
}
.pub-content {
    margin-left: 210px
}
.pub-title {
    color: #30323d
}

.pub-author {
}
.pub-extra {
}

