.pub-container {
    margin: 20px 20px 20px 20px;  
    border-bottom: 1px solid #333;
    overflow: auto
}
.pub-thumb {
    float: left
}
.pub-thumb img {
    display: block;
    height: 100px;
    width: 250px;
}
.pub-content {
    margin-left: 210px
}
.pub-title {
    font-weight: bold;
}
.pub-author {
    font-weight: bold;
}
.pub-extra {
    font-weight: bold;
}

